@{
    ViewBag.Title = "添加剖面";
}
@*文献模态框*@
<div id="dd" class="easyui-dialog" title="文献信息" style="width: 600px; height: 400px;"
    data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true">
    <div style="margin: 10px; text-align: center;">
        <form class="form-horizontal" role="form" method="post">
            <div>
                <a href="#"><u>重置</u></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><u>添加新文献</u></a>
            </div>
            <div style="margin-top: 8px;">
                <label>文献编号/作者：</label>
                <input name="NoAuthorizer" id="NoAuthorizer" type="text" placeholder="输入编号/作者">
                <label>年度：</label>
                <input name="SearchYear" id="SearchYear" type="text" placeholder="输入年度">
                <a class="easyui-linkbutton" id="SearchBtn" onclick="SearchBtn()">查询</a>
            </div>
        </form>
    </div>
</div>

@*获取GPS模态框*@
<div id="mm" class="easyui-dialog" title="获取GPS" style="width: 600px; height: 400px;"
    data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true">
    <div style="margin: 10px; text-align: center;">
        <form class="form-horizontal" role="form" method="post">
            <div>
                <a href="#"><u>重置</u></a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="2">搜索结果</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr>
                        <td style="width: 30px;">
                            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'"></a>
                        </td>
                        <td>地址<br />
                            详细地址+经纬度<br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'"></a>
                        </td>
                        <td>地址<br />
                            详细地址+经纬度<br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'"></a>
                        </td>
                        <td>地址<br />
                            详细地址+经纬度<br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<form class="form-horizontal" role="form" id="form" method="post" style="padding: 10px;">
    <div class="form-group">
        <label class="col-sm-12 control-label" style="font-size: 24px; font-weight: bold; color: #16387c; text-align: center">
            添加剖面</label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">核准人：</label>
        <div class="col-sm-2 ">
            <input name="Authorizer" id="Authorizer" type="text" placeholder="输入核准人" class="form-control required"
                readonly="readonly" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">核准时间：</label>
        <div class="col-sm-2 ">
            <input name="EnterTime" id="EnterTime" type="text" class="easyui-datebox "
                style="height: 33px;" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">剖面名称：</label>
        <div class="col-sm-3 ">
            <input name="SectionName" id="SectionName" type="text" placeholder="输入剖面名称"
                class="form-control required" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">参考文献：</label>
        <div class="col-sm-2 ">
            <input name="RID1" id="RID1" type="text" value="@ViewBag.R_ID" readonly="readonly" 
                    onclick="openDialog(1)" placeholder="输入参考文献1" class="form-control required"/>
        </div>
        <div class="col-sm-2 ">
            <input name="RID2" id="RID2" type="text" readonly="readonly" onclick="openDialog(2)" placeholder="输入参考文献2" class="form-control" />
        </div>
        <div class="col-sm-2 ">
            <input name="RID3" id="RID3" type="text" readonly="readonly" onclick="openDialog(3)" placeholder="输入参考文献3" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">时代：</label>
        <div class="col-sm-2 ">
            <input name="Time2" id="Time2" type="text" placeholder="输入时代" class="form-control" />
        </div>
        <label class="col-sm-1 control-label" style="margin-left: -3%;">百万年</label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">时代：</label>
        <div class="col-sm-2 ">
            <select name="Time" id="Time" onchange="change()" class="form-control"></select>
        </div>
        <div class="col-sm-2 ">
            <select name="SubTime" id="SubTime" class="form-control" style="width: auto"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">国家：</label>
        <div class="col-sm-2 ">
            <input name="Country" id="Country" type="text" placeholder="输入国家"
                class="form-control required" />
        </div>
        <label class="col-sm-1 control-label">省份：</label>
        <div class="col-sm-2 ">
            <input name="Province" id="Province" type="text" placeholder="输入省份"
                class="form-control required" />
        </div>
        <label class="col-sm-1 control-label">城市：</label>
        <div class="col-sm-2 ">
            <input name="City" id="City" type="text" placeholder="输入城市"
                class="form-control required" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">县/区：</label>
        <div class="col-sm-2 ">
            <input name="County" id="County" type="text" placeholder="输入县/区"
                class="form-control" />
        </div>
        <label class="col-sm-1 control-label">村：</label>
        <div class="col-sm-2 ">
            <input name="Village" id="Village" type="text" placeholder="输入村"
                class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">根据：</label>
        <div class="col-sm-2" style="width: auto;">
            <select name="GetLocation" id="GetLocation" class="form-control required">
                <option value="Province">省份</option>
                <option value="City">城市</option>
                <option value="County">县/区</option>
                <option value="Village">村</option>
            </select>
        </div>
        <div class="col-sm-2" style="width: auto;">
            <button onclick="GetGPS()" type="button" class="btn btn-default">获取GPS值</button>
        </div>
    </div>

    <div class="form-group" style="text-align: center;">
        <label class="col-sm-2 control-label">经度：</label>
        <div class="col-sm-2">
            <input name="Lon" id="Lon" type="number" placeholder="经度"
                class="form-control required" />
        </div>
        <label class="col-sm-1 control-label">纬度：</label>
        <div class="col-sm-2">
            <input name="Lat" id="Lat" type="number" placeholder="纬度"
                class="form-control required" />
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">经度：</label>
        <div class="col-sm-2">
            <input name="LonDegrees" id="LonDegrees" type="number" placeholder="经度"
                class="form-control required" />
        </div>
        <label class="col-sm-1 control-label" style="margin-left: -7%;">°</label>
        <div class="col-sm-2 ">
            <input name="LonMinutes" id="LonMinutes" type="number" placeholder="经分"
                class="form-control required" />
        </div>
        <label class="col-sm-1 control-label" style="margin-left: -7%;">'</label>
        <div class="col-sm-2 ">
            <input name="LonSeconds" id="LonSeconds" type="number" placeholder="经秒"
                class="form-control required" />
        </div>
        <label class="col-sm-1 control-label" style="margin-left: -7%;">"</label>
        <div class="col-sm-2" style="width: auto;">
            <select name="lon" id="lon" class="form-control">
                <option value="Arabic">东经</option>
                <option value="Arabic">西经</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">纬度：</label>
        <div class="col-sm-2 ">
            <input name="LatDegrees" id="LatDegrees" type="number" placeholder="纬度"
                class="form-control required" />
        </div>
        <label class="col-sm-1 control-label" style="margin-left: -7%;">°</label>
        <div class="col-sm-2 ">
            <input name="LatMinutes" id="LatMinutes" type="number" placeholder="纬分"
                class="form-control required" />
        </div>
        <label class="col-sm-1 control-label" style="margin-left: -7%;">'</label>
        <div class="col-sm-2 ">
            <input name="LatSeconds" id="LatSeconds" type="number" placeholder="纬秒"
                class="form-control required" />
        </div>
        <label class="col-sm-1 control-label" style="margin-left: -7%;">"</label>
        <div class="col-sm-2" style="width: auto;">
            <select name="lat" id="lat" class="form-control">
                <option value="Arabic">北纬</option>
                <option value="Arabic">南纬</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">海拔：</label>
        <div class="col-sm-2">
            <input name="Altitude" id="Altitude" type="number" class="form-control" placeholder="输入海拔" />
        </div>
        <div class="col-sm-2" style="width: auto;">
            <select name="measure" id="measure" class="form-control">
                <option value="Arabic">米</option>
                <option value="Arabic">英寸</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">构造板块：</label>
        <div class="col-sm-2">
            <input name="TectonicPlate" id="TectonicPlate" type="text" class="form-control" placeholder="输入构造板块" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">注释：</label>
        <div class="col-sm-2">
            <input name="Notes" id="Notes" type="text" class="form-control" placeholder="输入注释" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">评论：</label>
        <div class="col-sm-5">
            <textarea name="Comments" id="Comments" class="form-control" rows="3" placeholder="评论"></textarea>
        </div>
    </div>
    <div class="form-group" style="text-align: center">
        <div class="col-sm-3">
            <button onclick="reset()" type="button" class="btn btn-default">重置</button>
        </div>
        <div class="col-sm-3">
            <button onclick="save()" type="button" class="btn btn-default">保存</button>
        </div>
        <div class="col-sm-3">
            <button onclick="addFormation()" type="button" class="btn btn-default">添加剖面</button>
        </div>
    </div>
</form>

<script>
    function change() {
        //处理时代子元素下拉框
        initSelect($("#SubTime"), getOptionsURL, { type: "SubTime", pid: $("#Time>option:selected").attr("id") });
    }
    function GetGPS() {
        var value = $("#GetLocation").val();
        var text = $("#" + value).val()
        $.post("/Baidu/GetLocationByPlaceName", { city: $("#City").val(), place: text }, function (data) {
            $("#tbody").html("");
            var re = data.results;
            for (var i = 0; i < re.length; i++) {
                var address = re[i].address;
                if (address == undefined) {
                    address = "";
                }
                var name = re[i].name;
                var loca = re[i].location;
                var tr = $("<tr/>");
                $("#tbody").append(tr);
                var td_btn = $("<td style='width:30px;'/>");
                tr.append(td_btn);
                var btn = $("<a class='easyui-linkbutton' data-options='iconCls:\"icon-ok\"'/>");
                btn.on("click", { loca: loca }, function (event) {
                    var loca = event.data.loca;
                    $("#Lon").val(loca.lng);
                    $("#Lat").val(loca.lat);
                    $("#Lat").change();
                    $("#mm").dialog("close");
                });
                td_btn.append(btn);
                var td_label = $("<td/>");
                tr.append(td_label);
                td_label.append(address + "</br>" + name + "," + loca.lng + "," + loca.lat);
                $.parser.parse();
            }
            $('#mm').dialog("open");//弹出模态框
        }, "json");
    }
    function openDialog(re) {//打开参考文献模态框
        $('#dd').dialog("open");
    }
    function init() {
        $("#Authorizer").val(currentUser.UserName);//获取核准人
    }

    $(function () {
        $("#Lon,#Lat").on("change", {}, function () {
            var lon = $("#Lon").val();
            var pint = parseInt(lon);
            $("#LonDegrees").val(pint);
            lon = (lon - pint) * 60;
            pint = parseInt(lon);
            $("#LonMinutes").val(pint);
            lon = (lon - pint) * 60;
            pint = parseInt(lon);
            $("#LonSeconds").val(pint);

            var lat = $("#Lat").val();
            pint = parseInt(lat);
            $("#LatDegrees").val(pint);
            lat = (lat - pint) * 60;
            pint = parseInt(lat);
            $("#LatMinutes").val(pint);
            lat = (lat - pint) * 60;
            pint = parseInt(lat);
            $("#LatSeconds").val(pint);
        });

        $('#addFormation').linkbutton('disable');//禁用添加岩石组button
        //获取当前日期
        var currentDate = new Date();
        $('#EnterTime').datebox('setValue', (currentDate.getMonth + 1) + "/" + currentDate.getDate() + "/" + currentDate.getYear());
        //处理时代下拉框
        initSelect($("#Time"), getOptionsURL, { type: "Time" }, change);
        //表单操作
        $('#form').form({
            url: '/Section/Add',
            onSubmit: function () {
                //提交验证，return false;不提交
                var arr = $(".required");
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i].val() == "") {
                        arr[i].addClass("error_ness");
                    }
                }
            },
            success: function (data) {
                //提交成功后的操作
                //提交成功后的操作
                if (typeof data == "string") {
                    data = $.parseJSON(data);
                }
                if (data.status == "success") {
                    rid = data.msg.R_ID;
                    $('#addFormation').linkbutton('enable');//启用button
                    $.messager.alert("", "保存成功！", "info");
                }
                else {
                    $.messager.alert("", data.msg, "warning");
                }
            }
        });
    });
    function reset() {
        $.messager.alert("", "重置完成！", "info");
        $('#form').form("reset");
    }
    function save() {

        $('#form').form("submit");
    }
    function Formation() {

    }
    function SearchBtn() {
        var NoAuthorizer = $("#NoAuthorizer").val();
        var SearchYear = $("#SearchYear").val();
        SearchYear = parseInt(SearchYear);
        $.post("@Url.Action("GetList", "Reference")", { doiANDauthor: NoAuthorizer, year: SearchYear, page: 1, rows: 5 }, function (data) {
            console.log(data);
        }, "json");
    }
</script>

