* {
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    /*min-width: 1300px;*/
}

ul, li {
    list-style: none;
}
.clear {
   clear:both;
}
/******************全局样式end**************************/
.form_input {
    width: 200px;
    height: 20px;
}
.form_button {
    width: 100px;
    height: 20px;
}

.order {
    color: #447C88;
}

.meu {
    padding: 3px 10px;
    font-size: 12px;
    /*border: 1px solid #666666;*/
}

.required {
    background-color: #FFFFC0;
}

.error_ness {
    border: 1px solid red;
    box-shadow: 0px 0px 5px red;
    background-color: white;
}
