@{
    ViewBag.Title = "添加岩石组";
}
<div style="margin: 10px;">
    <form id="form" method="post">
        <h2>添加岩石组</h2>
        核准人：
        <input name="Authorizer" id="Authorizer" type="text" readonly="readonly" /><font color="red">*</font>
        核准时间：<input class="easyui-datebox" name="EnterTime" id="EnterTime" type="text" /><font color="red">*</font><br />
        <br />
        剖面名称：<input name="SectionName" id="SectionName" type="text" /><font color="red">*</font><br />
        <br />
        时代：<input name="Time2" id="Time2" type="text" />百万年<br />
        <br />
        时代：
        <select name="Time" id="Time" onchange="change()">
        </select>
        <select name="SubTime" id="SubTime">
        </select>
        <br />
        <br />
        国家：<input name="Country" id="Country" type="text" /><font color="red">*</font>
        省份：<input name="Province" id="Province" type="text" /><font color="red">*</font>
        城市：<input name="City" id="City" type="text" /><font color="red">*</font>
        县/区：<input name="County" id="County" type="text" />
        村：<input name="Village" id="Village" type="text" /><br />
        <br />
        <div style="width:auto;height:auto;background-color:#bee2fb;padding:10px;">
            <div><span>岩石组</span>
                <div><span style="margin-left:20px;">单元</span>
                    <div><span style="margin-left:40px;">采样位置</span>
                       <div> <span style="margin-left:60px;">化石</span></div>
                        <div><span style="margin-left:60px;">地球化学信息</span></div>
                    </div>

                </div>
            </div>
        </div>
        <br />
        <br />
        评论：<textarea name="Comments" id="Comments" rows=4 cols=60></textarea><br />
        <br />
        <a class="easyui-linkbutton" onclick="reset()">重置</a>
        <a class="easyui-linkbutton" onclick="save()">保存</a>
        <a class="easyui-linkbutton" id="addFormation" onclick="addFormation()">完成</a>
    </form>
</div>
<script>
    function change() {
        //处理时代子元素下拉框
        $.post("/Dict/GetSelectOptions", { type: "SubTime", pid: $("#Time>option:selected").attr("id") }, function (result) {
            $("#SubTime").html("");
            for (var i = 0; i < result.length; i++) {
                var value = result[i].KeyName;
                var text = result[i].ValueName;
                $("#SubTime").append("<option value='" + value + "'>" + text + "</option>");
            }
        }, "json");
    }
    function GetGPS() {
        var value = $("#GetLocation").val();
        var text = $("#" + value).val()
        $.post("/Baidu/Index", { id: text }, function (result) {
            console.log(result);
        }, "json");
    }
    function openDialog(re) {//打开参考文献模态框
        $('#dd').dialog("open");
    }
    function init() {
        $("#Authorizer").val(currentUser.UserName);//获取核准人
    }

    $(function () {
        $('#addFormation').linkbutton('disable');//禁用button
        //获取当前日期
        var currentDate = new Date();
        $('#EnterTime').datebox('setValue', (currentDate.getMonth + 1) + "/" + currentDate.getDate() + "/" + currentDate.getYear());
        //处理时代下拉框
        $.post("/Dict/GetSelectOptions", { type: "Time" }, function (result) {
            $("#Time").html("");
            for (var i = 0; i < result.length; i++) {
                var value = result[i].KeyName;
                var text = result[i].ValueName;
                $("#Time").append("<option id='" + result[i].Id + "' value='" + value + "'>" + text + "</option>");
            }
            change();

        }, "json");
        //表单操作
        $('#form').form({
            url: '/Section/Add',
            onSubmit: function () {
                //提交验证，return false;不提交
            },
            success: function (data) {
                //提交成功后的操作
                //提交成功后的操作
                if (typeof data == "string") {
                    data = $.parseJSON(data);
                }
                if (data.status == "success") {
                    rid = data.msg.R_ID;
                    $('#addFormation').linkbutton('enable');//启用button
                    $.messager.alert("", "保存成功！", "info");
                }
                else {
                    $.messager.alert("", data.msg, "warning");
                }
            }
        });
    });
    function reset() {
        $.messager.alert("", "重置完成！", "info");
        $('#form').form("reset");
    }
    function save() {

        $('#form').form("submit");
    }
    function Formation() {

    }
</script>