@{
    ViewBag.Title = "添加文献";
}

@model Trias.Models.Reference

<form class="form-horizontal" role="form" id="form" method="post" style="padding: 10px;">

    <div class="form-group">
        <label class="col-sm-12 control-label" style="font-size: 24px; font-weight: bold; color: #16387c; text-align: center">
            添加文献
        </label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">文献类型：</label>
        <div class="col-sm-3">
            <select name="ReferenceType" id="ReferenceType" class="form-control required" onchange="changeType()"></select>
        </div>
    </div>
    <div class="form-group book">
        <label class="col-sm-2 control-label">书名：</label>
        <div class="col-sm-3">
            <input name="BookTitle" id="BookTitle" type="text" class="form-control"
                   placeholder="输入书名" />
        </div>
    </div>

    <div class="form-group journal PHD">
        <label class="col-sm-2 control-label">文献名：</label>
        <div class="col-sm-3">
            <input name="Title" id="Title" type="text" class="form-control"
                   placeholder="输入文献名" />
        </div>
    </div>
    <div class="form-group journal">
        <label class="col-sm-2 control-label">杂志名：</label>
        <div class="col-sm-3">
            <input name="Journal" id="Journal" type="text" class="form-control"
                   placeholder="输入杂志名" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">第一作者：</label>
        <div class="col-sm-2">
            <input name="FirstAuthor" id="FirstAuthor" class="form-control" type="text"
                   placeholder="第一作者">
        </div>
        <div class="col-sm-2">
            <input name="OtherAuthors" id="OtherAuthors" class="form-control" type="text" placeholder="输入其他作者">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">年度：</label>
        <div class="col-sm-2">
            <input name="Year" id="Year" type="number" class="form-control required" placeholder="输入年度" />
        </div>
    </div>
    <div class="form-group book">
        <label class="col-sm-2 control-label">编辑：</label>
        <div class="col-sm-2">
            <input name="Editor1" id="Editor1" type="text" class="form-control"
                   placeholder="输入编辑" />
        </div>
    </div>

    <div class="form-group journal">
        <label class="col-sm-2 control-label">册：</label>
        <div class="col-sm-2">
            <input name="Volume" id="Volume" type="number" class="form-control" placeholder="册" />
        </div>
        <label class="col-sm-1 control-label">卷：</label>
        <div class="col-sm-2">
            <input name="No" id="No" type="number" class="form-control" placeholder="卷" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">起始页：</label>
        <div class="col-sm-2">
            <input name="PageBegin" id="PageBegin" type="number" class="form-control" placeholder="起始页" />
        </div>
        <label class="col-sm-1 control-label">结束页：</label>
        <div class="col-sm-2">
            <input name="PageEnd" id="PageEnd" type="number" class="form-control" placeholder="结束页" />
        </div>
    </div>
    <div class="form-group book">
        <label class="col-sm-2 control-label">出版社：</label>
        <div class="col-sm-3">
            <input name="Publisher" id="Publisher" type="text" class="form-control"
                   placeholder="输入出版社" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">语言：</label>
        <div class="col-sm-2">
            <select name="Language" id="Language" class="form-control required"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">编码：</label>
        <div class="col-sm-3">
            <input name="DOI" id="DOI" type="text" class="form-control"
                   placeholder="输入编码" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">链接1：</label>
        <div class="col-sm-5">
            <input name="URL1" id="URL1" type="text" class="form-control"
                   placeholder="输入链接1" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">链接2：</label>
        <div class="col-sm-5">
            <input name="URL2" id="URL2" type="text" class="form-control"
                   placeholder="输入链接2" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">评论：</label>
        <div class="col-sm-5">
            <textarea name="Comments" id="Comments" class="form-control" rows="3" placeholder="评论"></textarea>
        </div>
    </div>
    <div class="form-group" style="text-align: center">
        <div class="col-sm-3">
            <button onclick="resetForm()" type="button" class="btn btn-default">重置</button>
        </div>
        <div class="col-sm-3">
            <button onclick="save()" type="button" class="btn btn-default">保存</button>
        </div>
        <div class="col-sm-3">
            <button id="addSection" type="button" class="btn btn-default">添加剖面</button>
        </div>
    </div>
</form>
<script>
    var rid;
    var showTitle;
    $(function () {
        $("#PageBegin,#PageEnd").on("focus", {}, function () {
            $(this).removeClass("error_ness");
        });
        $('#addSection').attr({ "disabled": "disabled" });//禁用button
        //$('#addSection').linkbutton('disable');//禁用button
        //$.post("/Dict/GetSelectOptions", { type: "ReferenceType" }, function (result) {
        //    $("#ReferenceType").html("");
        //    for (var i = 0; i < result.length; i++) {
        //        var value = result[i].KeyName;
        //        var text = result[i].ValueName;
        //        $("#ReferenceType").append("<option value='" + value + "'>" + text + "</option>");
        //    }
        //}, "json");
        //处理文献类型下拉框
        initSelect($("#ReferenceType"), getOptionsURL, { type: "ReferenceType" }, function () {
            changeType();
        });
        //处理语言下拉框
        initSelect($("#Language"), getOptionsURL, { type: "Language" });
        //$.post("/Dict/GetSelectOptions", { type: "Language" }, function (result) {
        //    $("#Language").html("");
        //    for (var i = 0; i < result.length; i++) {
        //        var value = result[i].KeyName;
        //        var text = result[i].ValueName;
        //        $("#Language").append("<option value='" + value + "'>" + text + "</option>");
        //    }
        //}, "json");

        $('#form').form({
            url: '/Reference/Add',
            onSubmit: function () {
                debugger;
                //提交验证，return false;不提交
                var arr = $(".required");
                var flag = true;
                for (var i = 0; i < arr.length; i++) {
                    if ($(arr[i]).val() == "") {
                        flag = false;
                        $(arr[i]).addClass("error_ness");
                    }
                }
                var PageBegin = $("#PageBegin").val();
                var PageEnd = $("#PageEnd").val();
                if (PageBegin != "" && PageEnd != "") {
                    if (parseInt(PageBegin) > parseInt(PageEnd)) {
                        flag = false;
                        $("#PageBegin,#PageEnd").addClass("error_ness");
                        $.messager.alert("", "结束页须大于等于起始页！", "warning");
                    }
                }
                return flag;
            },
            success: function (data) {
                //提交成功后的操作
                if (typeof data == "string") {
                    data = $.parseJSON(data);
                }
                if (data.status == "success") {
                    rid = data.msg.R_ID;
                    showTitle = data.msg.ShowTitle;
                    $('#addSection').removeAttr("disabled");//启用button
                    $.messager.alert("", "保存成功！", "info");
                }
                else {
                    $.messager.alert("", data.msg, "warning");
                }
            }
        });
        $("#addSection").click(function () {
            location.href = "/Section/Index?rid=" + rid + "&showTitle=" + showTitle;
        });


    });
    function resetForm() {
        $('#form').form("reset");
    }
    function save() {
        $('#form').form("submit");
    }

    function changeType() {
        var value = $("#ReferenceType").val();
        switch (value) {
            case "journal article":
            case "paper presented at metting":
            case "abstract":
                $(".book").css("display", "none");
                $(".PHD").css("display", "none");
                $(".journal").css("display", "block");
                break;
            case "book":
            case "edit book":
            case "book chapter":
                $(".journal").css("display", "none");
                $(".PHD").css("display", "none");
                $(".book").css("display", "block");
                break;
            case "Ph.D.dissertation":
            case "master thesis":
                $(".journal").css("display", "none");
                $(".book").css("display", "none");
                $(".PHD").css("display", "block");
                break;
            default:
                break;
        }
    }
</script>
