@{
    ViewBag.Title = "添加文献";
}

@model Trias.Models.Reference

<div style="margin: 10px;">
    <form id="form" method="post">
        <h2>添加文献</h2>
        文献类型：<select name="ReferenceType" id="ReferenceType">
        </select><font color="red">*</font><br />
        <br />
        第一作者：
        <input name="FirstAuthor" id="FirstAuthor" type="text" /><font color="red">*</font><br />
        <br />
        第二作者：<input name="SecondAuthor" id="SecondAuthor" type="text" /><br />
        <br />
        其他作者：<input name="OtherAuthors" id="OtherAuthors" type="text" /><br />
        <br />
        年度：<input name="Year" id="Year" type="number"  /><font color="red">*</font><br />
        <br />
        文献名：<input name="Title" id="Title" type="text" /><font color="red">*</font><br />
        <br />
        编辑：<input name="Editor1" id="Editor1" type="text" /><font color="red">*</font><input name="Editor2" id="Editor2" type="text" /><input name="Editor3" id="Editor3" type="text" /><input name="Editor4" id="Editor4" type="text" /><br />
        <br />
        书名：<input name="BookTitle" id="BookTitle" type="text" /><br />
        <br />
        杂志名：<input name="Journal" id="Journal" type="text" /><br />
        <br />
        册：<input name="Volume" id="Volume" type="number" />卷：<input name="No" id="No" type="number" />
        起始页：<input name="PageBegin" id="PageBegin" type="number" />
        结束页：<input name="PageEnd"  id="PageEnd" type="number" /><br />
        <br />
        出版社：<input name="Publisher" id="Publisher" type="text" /><br />
        <br />
        语言：<select name="Language" id="Language">
            @*<option value="Arabic">Chinese</option>*@
        </select><font color="red">*</font><br />
        <br />
        编码：<input name="DOI" id="DOI" type="text" /><font color="red">*</font><br />
        <br />
        链接1：<input name="URL1" id="URL1" type="text" /><br />
        <br />
        链接2：<input name="URL2" id="URL2" type="text" /><br />
        <br />
        评论：<textarea name="Comments" id="Comments"></textarea><br />
        <br />
        <a class="easyui-linkbutton" onclick="reset()">重置</a>
        <a class="easyui-linkbutton" onclick="save()">保存</a>
        <a class="easyui-linkbutton" id="addSection" onclick="addSection()">添加剖面</a>
    </form>
</div>
<script>
    $(function () {
        $('#addSection').linkbutton('disable');//禁用button


        $.post("/Dict/GetSelectOptions", { type: "ReferenceType" }, function (result) {
            $("#ReferenceType").html("");
            for (var i = 0; i < result.length; i++) {
                var value = result[i].KeyName;
                var text = result[i].ValueName;
                $("#ReferenceType").append("<option value='" + value + "'>" + text + "</option>");
            }
        }, "json");

        $.post("/Dict/GetSelectOptions", { type: "Language" }, function (result) {
            $("#Language").html("");
            for (var i = 0; i < result.length; i++) {
                var value = result[i].KeyName;
                var text = result[i].ValueName;
                $("#Language").append("<option value='" + value + "'>" + text + "</option>");
            }
        }, "json");

        $('#form').form({
            url: '/Reference/Add',
            onSubmit: function () {
                //提交验证，return false;不提交
            },
            success: function (data) {
                //提交成功后的操作
                if (typeof data == "string") {
                    data = $.parseJSON(data);
                }
                if (data.status == "success") {
                    $('#addSection').linkbutton('enable');//启用button
                    $.messager.alert("", "保存成功！", "info");
                }
                else {
                    $.messager.alert("", data.msg, "warning");
                }
            }
        });

    });
    function reset() {
        $('#form').form("reset");
    }
    function save() {
        $('#form').form("submit");
    }
    function addSection() {
        location.href = "/Section/Index/";
    }
</script>
