@{
    ViewBag.Title = "查询文献";
}
<style>
    .paging {
        width: 100%;
        background-color: #dddbdb;
        padding: 0px 10px;
    }

        .paging label {
            height: 30px;
            line-height: 35px;
        }

        .paging input {
            height: 20px;
            width: 40px;
        }

    .link a:link {
        color: #000000;
    }

    .link a:hover {
        color: #0756AA;
    }

    .addRe li {
        width: 120px;
        float: left;
        margin: 20px 20px 15px 20px;
    }

    a.import {
        /*background: url('../../Content/images/import.png');*/
        width: 120px;
        height: 120px;
        display: block;
        position: relative;
        cursor: pointer;
        border: 1px solid #d6d6d6;
    }

        a.import img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid #d6d6d6;
            opacity: 0.8;
        }

            a.import img:hover {
                opacity: 1;
            }

    h4 a {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        display: block;
        border-bottom: 1px dashed #b5b5b5;
        padding-bottom: 8px;
        margin-top: 10px;
    }

    .addRe p {
        text-align: center;
    }
</style>
@*第三方导入模态框*@
<div id="import" class="easyui-dialog" title="第三方导入" style="width:80%;height:80%;"
     data-options="resizable:false,modal:true,closed:true">
    <div data-options="region:'north'" style="height: 90px;">
        <form action="@Url.Action("UpLoadRefecence", "Reference")" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="提交" />
        </form>
    </div>
</div>
@*添加文献模态框*@
<div id="addReference" class="easyui-dialog" title="添加文献方式" style="width:530px;height:330px;"
     data-options="resizable:false,modal:true,closed:true">
    <div class="addRe">
        <ul>
            <li style="width:30px;"></li>
            <li>
                <a href="javascript:void(0);" onclick="openImport()" target="_parent" class="import">
                    <img src="~/Content/images/import.png" />
                </a>
                <h4><a href="javascript:void(0);" onclick="openImport()" target="_parent">第三方导入</a></h4>
                <p>通过第三方导入文献</p>
            </li>
            <li>
                <a href="/Reference/Index" target="_parent" class="import">
                    <img src="~/Content/images/write.png" />
                </a>
                <h4><a href="/Reference/Index" target="_parent">手工输入</a></h4>
                <p>通过手工录入文献</p>
            </li>
        </ul>
    </div>
</div>




<div style="padding:20px">
    <input id="queryList" class="easyui-searchbox" style="width:auto"
           data-options="searcher:queryList,prompt:'输入文献相关查询'" />
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:false" style="float:right" onclick="addReference()">添加文献</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>标题 / 作者 / 来源 / 收录</th>
                <th style="width:50px"></th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>

    <div class="paging">
        <span style="float:right;">
            <label class="control-label">共<font id="pages"></font>页/<font id="total"></font>条记录</label>
            <label class="control-label">每页显示</label>
            <select id="rows" onchange="reload(1)">
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>50</option>
                <option>100</option>
            </select>
            <label>条</label>
        </span>
        <div class="link">
            <a href="javascript:void(0)" onclick="reload(1)">首页</a>
            <a href="javascript:void(0)" onclick="prePage()">上一页</a>
            <a href="javascript:void(0)" onclick="nextPage()">下一页</a>
            <a href="javascript:void(0)" onclick="reload(parseInt($('#pages').html()))">尾页</a>
            <label class="control-label">到</label>
            <input id="currentPage" />
            <label class="control-label">页</label>
            <button onclick="reload()">跳转</button>
        </div>
        <div class="clear"></div>
    </div>
</div>


<script>
    function openImport() {
        $('#import').dialog("open");//弹出模态框
    }

    function addReference() {
        $('#addReference').dialog("open");//弹出模态框
    }
    //查询函数
    function queryList() {
        reload(1);
    }
    //获取上一页
    function prePage() {
        var currentPage = $("#currentPage").val();
        //将字符串转化为整型
        currentPage = parseInt(currentPage);
        //debugger;
        if (currentPage != 1) {
            currentPage += -1;
            reload(currentPage);
        }

    }
    //获取下一页
    function nextPage() {
        var currentPage = parseInt($("#currentPage").val());
        var pages = parseInt($("#pages").html());
        if (currentPage != pages) {
            currentPage += +1;
            reload(currentPage);
        }
    }
    $(function () {
        reload(1);
    })
    function reload(page) {
        //获取当前页的值
        if (page == undefined) {
            page = $("#currentPage").val();
        }
        if (isNaN(page)) {
            page = 1;
        }
        //验证跳转
        var Page = parseInt(page);
        if (Page <= 0) {
            Page = 1;
        }
        var Pages = parseInt($("#pages").html());
        if (Pages == 0) {
            Pages = 1;
        }
        if (Page > Pages) {
            reload(Pages);
        }
        //获取搜索框的值
        var keyWord = $("#queryList").searchbox("getValue");
        //每页显示rows条记录
        var rows = $("#rows").val();
        $.post("@Url.Action("GetList","Reference")", { keyWord: keyWord, rows: rows, page: Page }, function (data) {
            //console.log(data);
            //赋值
            $("#currentPage").val(Page);
            $("#total").html(data.total);
            var pages = Math.ceil(data.total / rows);
            $("#pages").html(pages);
            $("#tbody").html("");
            for (var i = 0; i < data.rows.length; i++) {
                //取标题
                var title = data.rows[i].ShowTitle;
                var journal = data.rows[i].Journal;
                if (journal) {
                    title = title + "," + journal;
                }

                //取作者
                var content = data.rows[i].FirstAuthor;
                var other = data.rows[i].OtherAuthor;
                if (other) {
                    content = contend + "," + other;
                }
                //取年度
                var year = data.rows[i].Year;
                content = content + "," + year;
                //拼接字符串
                $("#tbody").append("<tr><td><div><a href='/Reference/Details/" + data.rows[i].R_ID + "' target='_blank' style='font-size:1.2em;'>" + title + "</a></div><span style='color:#999999;font-weight:normal'>" + content + "</span></td><td><div><span class='glyphicon glyphicon-pencil'onclick='modify(\"" + data.rows[i].R_ID + "\")'></span>&nbsp;&nbsp;<span class='glyphicon glyphicon-trash' onclick='trash(\"" + data.rows[i].R_ID + "\")'></span></div></td></tr>");
            }
        }, "json");

    }
    function trash(id) {
        $.post("/Reference/Remove", { id: id }, function (data) {
            if (data.status = "success") {
                $.messager.alert("", data.msg, "info", function () {
                    reload();
                });//easy弹框
            }
            else {
                $.messager.alert("", data.msg, "warning");
            }
        }, "json");
    }
    function modify(id) {
        commHelper.OpenDialog("修改文献", "/Reference/Edit/" + id, $(window).width() * 0.7, $(window).height() * 0.7);
    }

</script>