@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/JS/jquery-1.9.1.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    @* easyui *@
    <link href="~/Content/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/easyui/demo/demo.css" rel="stylesheet" />
    <script src="~/Content/easyui/jquery.easyui.min.js"></script>
    <script src="~/Content/easyui/locale/easyui-lang-zh_CN.js"></script>
    @* easyui *@
    <link href="~/Content/CSS/main.css" rel="stylesheet" />
    <script src="~/Content/JS/home.js"></script>
    <style>
        * {
            font-size: 12px;
            font-family: "Microsoft YaHei";
        }

        /*body {
            background: url('../../Content/images/bg.jpg') no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }*/

        .container {
            width: 806px;
            margin: 0px auto;
            margin-top: 40px;
            padding-bottom: 4px;
            position: relative;
            overflow: auto;
        }

        .conta {
            width: 740px;
            border-top: 2px solid #4469a1;
            border-bottom: 1px solid #d6d6d6;
            border-left: 1px solid #d6d6d6;
            border-right: 1px solid #d6d6d6;
            box-shadow: 2px 2px 3px #888888;
            overflow: hidden;
            padding: 30px 30px 20px 30px;
            background-color: #FFF;
        }

        .display-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
            min-height: 30px;
            width: 15%;
            font-weight: bold;
            float: left;
            clear: both;
        }

        .display-field {
            padding-top: 7px;
            margin-bottom: 0;
            margin-left: 10px;
            text-align: left;
            min-height: 30px;
            width: 70%;
            float: left;
        }

        .required {
            background-color: #FFFFC0;
        }

        .error_ness {
            border: 1px solid red;
            box-shadow: 0px 0px 5px red;
            background-color: white;
        }
    </style>
</head>

<body>

    @RenderBody()

</body>
</html>
<script>
    $(function () {
        //移除必填项错误提示
        $(".required").on("focus", {}, function () {
            $(this).removeClass("error_ness");
        });
    });
    //前端验证
    function identify() {
        var arr = $(".required");
        var flag = true;
        for (var i = 0; i < arr.length; i++) {
            if ($(arr[i]).val() == "") {
                flag = false;
                $(arr[i]).addClass("error_ness");
            }
        }
        return flag;
    }
</script>
