@{
    ViewBag.Title = "添加单元";
}
<style>
    .level2, .level3, .level4 {
        padding-left: 25px;
    }

    .co_li div {
        height: 100%;
        margin-top: 5px;
    }

    .co_li input {
        width: 70px;
    }

    .bian_ju {
        margin-bottom: 10px;
    }
</style>
 <form class="form-horizontal" role="form" method="post" style="padding: 10px; text-align: center;">
        <div class="bian_ju">
            <div style="float: left">
                <label>岩石组名：</label>
            </div>
            <div style="float: left">
                <input name="FormationName" id="FormationName" type="text" placeholder="岩石组名" />
            </div>
            <div style="margin-left: 50px; float: left">
                <label>厚度：</label>
            </div>
            <div style="float: left">
                <input name="Thickness" id="Thickness" type="number" placeholder="厚度" />
            </div>
            <select style="float: left; height: 23px; margin-left: 2px;">
                <option>米</option>
                <option>英寸</option>
                <option>厘米</option>
            </select>
            <div class="clear"></div>
        </div>
        <div class="bian_ju" style="height: 150px;">
            <div>
                <div class="col-sm-2">
                    <label>颜色1</label>
                </div>
                <div class="col-sm-2">
                    <label>颜色2</label>
                </div>
                <div class="col-sm-2">
                    <label>岩性1</label>
                </div>
                <div class="col-sm-2">
                    <label>岩性2</label>
                </div>
                <div class="col-sm-2">
                    <label>主要岩性</label>
                </div>
                <div class="col-sm-2">
                    <label>关系</label>
                </div>
            </div>
            <div class="co_li">
                <div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <select style="width: 70px;height:23px;"></select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                       <select style="width: 70px;height:23px;"></select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                     <select style="width: 70px;height:23px;"></select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                        <input />
                    </div>
                    <div class="col-sm-2">
                       @* <input />*@
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="bian_ju">
            <div style="float: left">
                <label>备注：</label>
            </div>
            <div style="float: left">
                <textarea name="DeFormation" id="DeFormation" rows="5" style="width: 522px; resize: none" placeholder="备注"></textarea>
            </div>
            <div class="clear"></div>
        </div>
        <button type="button">保存</button>

       

    </form>
