@{
}
@model Trias.Models.ViewModel.UserView

<body>
    <div>
        <label>用户名</label><input name="UserName" />
        <form>
            @Html.LabelFor(x => x.UserName)
            @Html.TextBoxFor(x => x.UserName)
        </form>
    </div>
</body>
