@{
    ViewBag.Title = "人员管理";
}
<style>
    .paging {
        width: 100%;
        background-color: #dddbdb;
        padding: 0px 10px;
    }

        .paging label {
            height: 30px;
            line-height: 35px;
        }

        .paging input {
            height: 20px;
            width: 40px;
        }

    .link a:link {
        color: #000000;
    }

    .link a:hover {
        color: #0756AA;
    }
</style>
<div style="padding:20px">
    <input id="queryList" class="easyui-searchbox" style="width:auto"
           data-options="searcher:queryList,prompt:'输入用户相关查询'" />
    <div style="float:right">
        <button type="button" class="btn btn-info" style="height: 30px;width:70px;" id="agree" onclick="Pass(true)">同意</button>
        <button type="button" class="btn btn-info" style="height: 30px;width:70px;" id="disagree" onclick="Pass(false)">不同意</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:20px"><input type="checkbox" id="checkAll" value=""></th>
                <th>用户名</th>
                <th>邮箱</th>
                <th>用户单位</th>
                <th>研究方向</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td><input type="checkbox" name="checkBox" value=""></td>
                <td>111</td>
                <td>222</td>
                <td>333</td>
                <td>444</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="checkBox" value=""></td>
                <td>111</td>
                <td>222</td>
                <td>333</td>
                <td>444</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="checkBox" value=""></td>
                <td>111</td>
                <td>222</td>
                <td>333</td>
                <td>444</td>
            </tr>
        </tbody>
    </table>

    <div class="paging">
        <span style="float:right;">
            <label class="control-label">共<font id="pages"></font>页/<font id="total"></font>条记录</label>
            <label class="control-label">每页显示</label>
            <select id="rows" onchange="reload(1)">
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>50</option>
                <option>100</option>
            </select>
            <label>条</label>
        </span>
        <div class="link">
            <a href="javascript:void(0)" onclick="reload(1)">首页</a>
            <a href="javascript:void(0)" onclick="prePage()">上一页</a>
            <a href="javascript:void(0)" onclick="nextPage()">下一页</a>
            <a href="javascript:void(0)" onclick="reload(parseInt($('#pages').html()))">尾页</a>
            <label class="control-label">到</label>
            <input id="currentPage" />
            <label class="control-label">页</label>
            <button onclick="reload()">跳转</button>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script>
    $(function () {
        reload(1);
        $("#checkAll").click(function () {//判断全选框的改变
            var flage = $(this).is(":checked");//全选选中为true，否则为false
            $("input[type=checkbox]").each(function () {
                $(this).prop("checked", flage);
            })
        });
        //当子元素都选全选选中，其中一个不选取消全选
        $("input[name=checkBox]").click(function () {
            var flage1 = true;
            for (var i = 0; i < $("input[name=checkBox]").length; i++) {
                if (!$($("input[name=checkBox]")[i]).is(":checked")) {
                    flage1 = false;
                    break;
                }
            }
            $("#checkAll").prop("checked", flage1);

        })



    })
    //查询函数
    function queryList() {
        reload(1);
    }
    //获取上一页
    function prePage() {
        var currentPage = $("#currentPage").val();
        //将字符串转化为整型
        currentPage = parseInt(currentPage);
        //debugger;
        if (currentPage != 1) {
            currentPage += -1;
            reload(currentPage);
        }

    }
    //获取下一页
    function nextPage() {
        var currentPage = parseInt($("#currentPage").val());
        var pages = parseInt($("#pages").html());
        if (currentPage != pages) {
            currentPage += +1;
            reload(currentPage);
        }
    }
    function Pass(flag) {
        var array = $("input[name=checkBox]");
        var ids = "";
        for (var i = 0; i < array.length; i++) {
            if ($($("input[name=checkBox]")[i]).is(":checked")) {
                ids += "," + $($("input[name=checkBox]")[i]).attr("id");
            }
        }
        if (ids.length <= 0) {
            alert("23456");
            return;
        }
        $.post("@Url.Action("PermissUser","Login")", { ids: ids, flag: flag }, function (data) {
            if (data.status == "success") {
                alert(data.msg);
                reload();
            } else {
                alert(data.msg);
            }
        }, "json");
    }
    function reload(page) {
        //获取当前页的值
        if (page == undefined) {
            page = $("#currentPage").val();
        }
        if (isNaN(page)) {
            page = 1;
        }
        //验证跳转
        var Page = parseInt(page);
        if (Page <= 0) {
            Page = 1;
        }
        var Pages = parseInt($("#pages").html());
        if (Pages == 0) {
            Pages = 1;
        }
        if (Page > Pages) {
            reload(Pages);
        }
        //获取搜索框的值
        var keyWord = $("#queryList").searchbox("getValue");
        //每页显示rows条记录
        var rows = $("#rows").val();
        $.post("@Url.Action("GetUserWithNoPass","Login")", { keyWord: keyWord, rows: rows, page: Page }, function (data) {
            console.log(data);
            //赋值
            $("#currentPage").val(Page);
            $("#total").html(data.total);
            var pages = Math.ceil(data.total / rows);
            $("#pages").html(pages);
            $("#tbody").html("");
            for (var i = 0; i < data.rows.length; i++) {
                var Id = data.rows[i].User_ID;
                var UserName = data.rows[i].UserName;
                var UserEmail = data.rows[i].UserEmail;
                var UserUnit = data.rows[i].UserUnit;
                var ResearchField = data.rows[i].ResearchField;
                $("#tbody").append("<tr><td><input type='checkbox' id='" + Id + "' name='checkBox' value=''></td><td>" + UserName + "</td><td>" + UserEmail + "</td><td>" + UserUnit + "</td><td>" + ResearchField + "</td></tr>")
            }
        }, "json");

    }
    function trash(id) {
        debugger;
        $.post("/Section/Remove", { id: id }, function (data) {
            if (data.status = "success") {
                $.messager.alert("", data.msg, "info", function () {
                    reload();
                });//easy弹框
            }
            else {
                $.messager.alert("", data.msg, "warning");
            }
        }, "json");
    }
    function modify(id) {
        commHelper.OpenDialog("修改剖面", "/Section/Edit/" + id, $(window).width() * 0.7, $(window).height() * 0.7);
    }

</script>
